<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p> Thank youu !!!
    <img widgh="200px" height="100px" src="https://thumbs.dreamstime.com/b/natural-looking-label-thank-you-banner-white-blossoms-as-background-31426461.jpg" alt="">
</p>
