{% extends 'baseweb.html.twig' %}

{% block body %}
	<div
		class="container">

		<!-- Share profile -->
		<div class="share__profile">
			<div class="profile__content">
				<div>
					<div class="profile__title">Share my profile on</div>
					<div class="profile__icon">
						<i class="fab fa-facebook"></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-linkedin"></i>
						<i class="fas fa-link"></i>
					</div>
				</div>
			</div>
			<div class="close_profileshare">
				<img src="../../IMG/close.png" alt="" onclick="closeShare()">
			</div>
		</div>

		<div class="update-url">
			<div class="update-url-content">
				<div class="update_title">
					<div>
						<p>Edit your personalized URL</p>
					</div>
					<div>
						<i class="las la-times" id="closeUpdateUrl"></i>
					</div>
				</div>
				<div class="update_des">
					<p>
						This is your personalized URL that members can. You can change this part of the URL with up to 255 characters
						female
						including letters and numbers. Once saved, this will be a direct link to your profile
					</p>
				</div>
				<div class="update_urlInput">
					<label for="">Your url</label><br>
					<input type="text" value="https://www.nguyenphivan.com/profile/dangthuhuyen/profile">
				</div>
				<div class="update_btn">
					<button id="leaveupdate">Cancel</button>
					<button>Save</button>
				</div>
			</div>
		</div>

		<div class="privte-confirm">
			<div class="private_content">
				<div class="private_btnclose">
					<div>
						<i class="las la-times" id="closeprivate"></i>
					</div>
				</div>
				<div class="private_title">
					<p>Make your profile private</p>
				</div>
				<div class="private_des">
					<p>
						If you're private, your profile won't be visible to other members, you can't comment or
						liked the post and couldn't follow the member. Also you will leave the joined group
					</p>
				</div>
				<div class="private_btn">
					<button id="leaveprivate">Cancal</button>
					<button>Confirm</button>
				</div>
			</div>
		</div>

		<div class="outcourse-confirm">
			<div class="outcourse_content">
				<div class="outcourse_btnclose">
					<div>
						<i class="las la-times" id="closeoutcourse"></i>
					</div>
				</div>
				<div class="outcourse_title">
					<p>Exit the program</p>
				</div>
				<div class="outcourse_des">
					<p>
						Your progress will be saved
					</p>
				</div>
				<div class="outcourse_btn">
					<button id="leavecourse">Cancel</button>
					<button>Leave</button>
				</div>
			</div>
		</div>

		<div class="deploy-confirm">
			<div class="deploy_content">
				<div class="deploy_btnclose">
					<div>
						<i class="las la-times" id="closedeploy"></i>
					</div>
				</div>
				<div class="deploy_title">
					<p>Out Blog Member ?</p>
				</div>
				<div class="deploy_des">
					<p>
						If you cancel, you will not have access to the plan and its benefits from now on
					</p>
				</div>
				<div class="deploy_btn">
					<button id="leavedeploy">Keep</button>
					<button>Yes, cancel</button>
				</div>
			</div>
		</div>

		<div class="profile">
			<div class="profile_info">
				<div class="information">
					<div class="info__img">
						{% if app.user != null %}
							<img style="border-radius:50%;" src="{{asset('/IMG/Users/'~app.user.image)}}">
						</div>
						<div class="info__name">
							{{ app.user.fullname }}
							<div class="follow">
								<p>0&nbsp;<span>Followers</span>
								</p>&nbsp;&#8226;&nbsp;
								<p>0&nbsp;<span>Following</span>
								</p>
							</div>
							<div class="huyhieu">
								Reader
							</div>
						</div>
					{% endif %}
				</p>
			</div>

			<div class="viewInfo">
				<div class="btn__info">
					<a href="{{ path ('public_profile')}}">
						<button>View public profile</button>
					</a>
				</div>
				<div class="icon__sharepro">
					<i class="las la-ellipsis-v dotss"></i>
					<span class="shareprofile">
						<p class="sharepro">Share my profile<br/></p>
						<p>
							<a href="">Edit Profile</a>
						</p>
					</span>
				</div>
			</div>
		</div>

		<div class="tablist_profile">
			<div>
				<!-- Tab items -->
				<div class="tabs_profile">
					<div class="linepro"></div>
					<div class="tab-item-profile active">
						Profile
					</div>
					<div class="tab-item-profile" id="test">
						Files
					</div>
					<div class="tab-item-profile">
						My Course
					</div>
					<div class="tab-item-profile">
						My Subscriptions
					</div>
					<div class="tab-item-profile">
						My Account
					</div>
					<div class="tab-item-profile item_down">
						Settings
					</div>
					<div class="tab-item-profile item_down">
						Notifications
					</div>
				</div>
			</div>
			<!-- Tab content -->
			<div class="tab-content-profile">
				<div class="tab-pane-profile active">
					<div class="profile-item">
						<div style="padding: 30px 30px 0 30px;">
							<div class="profile-title">
								<div class="name-titile">
									Profile
								</div>
								<div class="btn_fix">
									<i class="fas fa-pencil-alt"></i>
									<button id="fix_profile">Edit my profile</button>
								</div>
							</div>
							<div class="date-create">
								<p>Joining date:
									<span>Sep 22, 2021</span>
								</p>
							</div>
							<div class="line-bottom"></div>
						</div>

						<div style="padding: 0 30px;">
							<div class="profile_intro">
								<p>Introduction</p>
								<div style="padding: 20px 0;">
									<textarea class="sharesomething" id="" placeholder="Please share something about yourself..."></textarea>
								</div>
							</div>
							<div class="line-bottom"></div>
						</div>
						<div style="padding: 0 30px;">
							<div class="link-emoji">
								<div class="emoji_icon">
									<i class="las la-camera"></i>
									<i class="lar la-smile"></i>
									<i class="lar la-smile"></i>
									<i class="lar la-smile"></i>
								</div>
								<div class="line-bottom"></div>
							</div>
						</div>
						<div class="btn-outprofile">
							<button>Cancel</button>
							<button>Export</button>
						</div>

						<div class="view-huyhieu">
							<div class="view_name">
								<span>Badge</span>
							</div>
							<div class="huyhieu_info">
								<div class="huyhieu_img">
									<i class="fas fa-heart"></i>
								</div>
								<div class="info_reader">
									<p>Reader</p>
									<p>reads less than 100 posts</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane-profile">
					<div class="file-title">
						<span>Tệp</span>
						<p>Xem các tệp do thành viên này tải lên ở bên dưới.</p>
						<div class="linefile-bottom"></div>
					</div>
					<div class="not-found">
						<div style="text-align: center;">
							<h2>Chưa có tệp</h2>
							<p>Vui lòng kiểm tra lại sau</p>
						</div>
					</div>
				</div>

				<div class="tab-pane-profile">
					<div class="file-title">
						<span>My Course</span>
						<p>Check the status of the course..</p>
						<div class="linefile-bottom"></div>
					</div>
					<div class="found-course">
						<div class="course__active">
							<div>
								<img src="../../IMG/course.png" alt="">
							</div>
							<div>
								<p>Critical Thinking - Bộ kỹ năng Tư duy phản biện</p>
								<label for="">Price:</label>
								<span>Blog member</span><br/>
								<label for="">Time:</label>
								<span>Unlimited time</span><br>
								<p id="openoutcourse">
									Leaving the course
								</p>
							</div>

						</div>
						<div class="linefile-bottom"></div>

						<div class="course__active">
							<div>
								<img src="../../IMG/course.png" alt="">
							</div>
							<div>
									<p>Critical Thinking - Bộ kỹ năng Tư duy phản biện</p>
								<label for="">Price:</label>
								<span>Blog member</span><br/>
								<label for="">Time:</label>
								<span>Unlimited time</span><br>
								<p id="openoutcourse">
									Leaving the course
								</p>
							</div>
						</div>
						<div class="linefile-bottom"></div>
					</div>
				</div>

				<div class="tab-pane-profile">
					<div class="file-title">
						<span>Gói đăng ký của tôi</span>
						<p>Xem và quản lý các gói đăng ký bạn đã mua.</p>
						<div class="linefile-bottom"></div>
					</div>

					<div class="course__buy">
						<div class="top__buy">
							<p>Blog Member</p>
							<span>Có hiệu lực đến khi bị hủy</span>
						</div>
						<div class="center__buy">
							<label>Gói miễn phí</label>
							<label>
								<span>Ngày bắt đầu:
									<span>17 thg 10, 2021</span>
								</span>
								<p>Số buổi còn lại:
									<span>100</span>
								</p>
							</label>
						</div>
						<div class="btn__cancel">
							<span id="deploy">Hủy gói đăng ký</span>
						</div>
						<div class="linefile-bottom"></div>
					</div>
				</div>

				<div class="tab-pane-profile">
					<div class="profile-item">
						<div style="padding: 30px 30px 0 30px;">
							<div class="profile-title">
								<div class="name-titile">
									Tài khoản của tôi
								</div>
								<div class="btn_update">
									<button>Bỏ</button>
									<button>Cập nhật</button>
								</div>
							</div>
							<div class="date-create">
								<p>Xem và chỉnh sửa thông tin cá nhân của bạn ở bên dưới.</p>
							</div>
							<div class="line-bottomud"></div>
						</div>

						<div style="padding: 0 30px;">
							<div class="profile_intro">
								<p>Thông tin công khai</p>
								<span>
									Thẻ hồ sơ của bạn hiển thị với tất cả thành viên của trang web này
								</span>
							</div>
							<div class="name__show">
								<label for="">Tên hiển thị *</label><br/>
								<input type="text" value="DangThuHuyen">
							</div>
							<div class="line-bottomud"></div>
							<div class="profile_intro">
								<p>Tài khoản</p>
								<span>
									Cập nhật và chỉnh sửa thông tin bạn chia sẻ với cộng đồng
								</span>
							</div>
							<div class="name__show">
								<label for="">Email đăng nhập:</label><br/>
								<p>dangthuhuyen_blog@gmail.com</p>
								<p style="opacity: 0.6;">Không thể thay đổi email đăng nhập của bạn</p>
							</div>

							<div class="form_update">
								<div class="left__update">
									<label for="">Tên</label><br/>
									<input type="text" value="DangThuHuyen">
									<br>
									<label for="">Email</label><br/>
									<input type="text" value="dangthuhuyen_blog@gmail.com">
								</div>
								<div class="right__update">
									<label for="">Họ</label><br/>
									<input type="text" value="">
									<br>
									<label for="">Điện thoại</label><br/>
									<input type="text" value="">
								</div>
							</div>
							<div class="btn-update">
								<button>Bỏ</button>
								<button>Cập nhật</button>
							</div>
							<div class="line-bottomud"></div>
							<div class="profile_intro">
								<p>Thiết lập tài khoản</p>
								<span>
									Cập nhật và chỉnh sửa thông tin bạn chia sẻ với cộng đồng
								</span>
							</div>
							<div class="url__page">
								<label for="">URL trang cộng đồng của bạn</label>
								<div class="get__url">
									<span>https://www.nguyenphivan.com/profile/dangthuhuyen/profile</span>
									<div class="url__update">
										<span id="url__update">Chỉnh sửa url</span>
									</div>
								</div>
							</div>
							<div class="line-bottomud"></div>
							<div class="url__page">
								<label for="">Chế độ hiển thị hồ sơ</label>
								<div class="get__url">
									<span>Ẩn trang hồ sơ của bạn và các thông tin mạng xã hội trong tài khoản của bạn.</span>
									<div class="url__update">
										<span id="confirm">Đặt hồ sơ ở chế độ riêng tư</span>
									</div>
								</div>
							</div>
							<div class="line-bottomud"></div>
							<div class="url__page">
								<label for="">Thành viên bị chặn</label>
								<div class="get__url">
									<span>Bạn không có thành viên nào bị chặn.</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane-profile">
					<div class="profile-item">
						{# <div class="setting_title">
							<div>
								<h2>Subscribe to the blog</h2>
							</div>
							<div class="linefile-bottom"></div>
						</div>

						<div class="setting_cancel">
							<div class="cancel_content">
								<div class="cancel_title">
									<h3>Gói đăng ký blog</h3>
									<div>
										<p>Nhận email về bài đăng và cập nhật mới.Hủy đăng ký</p>
									</div>
								</div>
								<div class="cancel_btn">
									<button>Hủy đăng ký</button>
								</div>
							</div>
							<div class="linefile-bottom"></div>
						</div> #}

						<div class="report-blog">
							<div class="report_content">
								<div class="left_report">
									<h3>Thông báo trên blog</h3>
								</div>
								<div class="right_report">
									<p>Thông báo qua email</p>
								</div>
							</div>
							<div class="linefile-bottom"></div>
						</div>

						<div class="report-checkbox">
							<div class="checkbox_content">
								<div class="checkbox_title">
									<h3>Lượt thích</h3>
									<div>
										<p>Thông báo cho tôi khi các thành viên thích bài đăng và bình luận của tôi</p>
									</div>
								</div>
								<div class="switch_box box_1">
									<input type="checkbox" class="switch_1" checked>
								</div>
							</div>
							<div class="linefile-bottom"></div>
						</div>

						<div class="report-checkbox">
							<div class="checkbox_content">
								<div class="checkbox_title">
									<h3>Bình luận</h3>
									<div>
										<p>Thông báo cho tôi khi các thành viên bình luận về bài đăng của tôi</p>
									</div>
								</div>
								<div class="switch_box box_1">
									<input type="checkbox" class="switch_1" checked>
								</div>
							</div>
							<div class="linefile-bottom"></div>
						</div>

						<div class="report-checkbox">
							<div class="checkbox_content">
								<div class="checkbox_title">
									<h3>Theo dõi</h3>
									<div>
										<p>Thông báo cho tôi khi có cập nhật về thành viên và bài đăng mà tôi theo dõi</p>
									</div>
								</div>
								<div class="switch_box box_1">
									<input type="checkbox" class="switch_1" checked>
								</div>
							</div>
							<div class="linefile-bottom"></div>
						</div>

						<div class="report-blog">
							<div class="report_content">
								<div class="left_report">
									<h3>Thông báo nhóm</h3>
								</div>
								<div class="right_report">
									<p>Thông báo qua email</p>
								</div>
							</div>
							<div class="linefile-bottom"></div>
						</div>

						<div class="report-checkbox">
							<div class="checkbox_content">
								<div class="checkbox_title">
									<h3>Tổng quan</h3>
									<div>
										<p>Thông báo cho tôi khi có hoạt động mới.</p>
									</div>
								</div>
								<div class="switch_box box_1">
									<input type="checkbox" class="switch_1" checked>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane-profile">
					<div class="profile-item">
						<div class="note_title">
							<div class="note_content">
								<div>
									<h2>Thông báo</h2>
								</div>
								<div>
									<p>Đánh dấu tất cả là đã đọc
																															                      (<span>37</span>)
									</p>
								</div>
							</div>
							<div class="linefile-bottom"></div>
						</div>
						<div class="note_list">
							<ul>
								<li>
									<div style="display: flex;">
										<div class="avatar"><img src="../../IMG/dangthuhuyen_blog.jpg" alt=""></div>
										<div class="content_note">
											<p>
												Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id ducimus
																																					                          corrupti assumenda soluta, maxime totam voluptates adipisci
																																					                          similique eum? Reiciendis tempore veritatis deleniti dignissimos possimus
																																					                          necessitatibus enim sapiente aspernatur dicta?
											</p>
										</div>
									</div>
									<div class="realtime">
										<span>2</span>&nbsp;phút trước
										<i class="fas fa-circle"></i>
									</div>
								</li>
								<li>
									<div style="display: flex;">
										<div class="avatar"><img src="../../IMG/dangthuhuyen_blog.jpg" alt=""></div>
										<div class="content_note">
											<p>
												Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id ducimus
																																					                          corrupti assumenda soluta, maxime totam voluptates adipisci
																																					                          similique
																																					                          eum? Reiciendis tempore veritatis deleniti dignissimos possimus
																																					                          necessitatibus enim sapiente aspernatur dicta?
											</p>
										</div>
									</div>
									<div class="realtime">
										<span>2</span>&nbsp;phút trước
										<i class="fas fa-circle"></i>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../JS/profile.js"></script>
{% endblock %}
{% block footer1 %}{% endblock %}
